.description {
  padding: 130px 0px 161px 0px;
  background-color: #f9f9f9;

  @media (max-width: 767px) {
    padding: 50px 0px 60px 0px;
  }

  &CardWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  &Content {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  &Title {
    color: #04184d;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    max-width: 700px;
    margin: 0 auto;

    @media (max-width: 767px) {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      padding: 0 10px;
    }
  }
}
