.header {
  &Wrapper {
    position: relative;

    &DropdownLang {
      position: absolute;
      top: 11px;
      right: 15px;
    }
  }

  &Contacts {
    height: 49px;
    background-color: #283a6a;
    color: #edf6ff;
    text-align: center;
    font-size: 20px;
    line-height: 49px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &MenuRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;

    @media (max-width: 767px) {
      height: 50px;
    }
  }

  &Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #dddddd 1px solid;
    height: 100%;
    flex: 0 1 320px;

    @media (max-width: 767px) {
      display: none;
    }

    img {
      display: block;
      margin: 0 auto;
      padding: 25px;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &Search {
    position: relative;
    border-left: #dddddd 1px solid;
    height: 100%;
    background-color: #fff;
    flex: 0 0 107px;

    @media (max-width: 767px) {
      flex-basis: 50px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
    }

    &::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: #0b224b 2px solid;
    }

    &::after {
      transform: rotate(45deg);
      background-color: #0b224b;
      top: calc(50% + 5px);
      left: calc(50% + 2px);
      width: 7px;
      height: 2px;
    }

    &:hover {
      &::before {
        border: #12c4e0 2px solid;
      }

      &::after {
        background-color: #12c4e0;
      }
    }
  }

  &Menu {
    height: 100%;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
  }

  &Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 570px;
    padding: 0 40px;

    @media (max-width: 767px) {
      padding: 0 10px;
    }

    li {
      position: relative;

      @media (max-width: 767px) {
        display: none;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        height: 5px;
        background-color: #0b224b;
      }

      &::before {
        top: 4px;
        right: -14px;
        transform: rotate(45deg);
      }

      &::after {
        right: -11px;
        bottom: 5px;
        transform: rotate(-45deg);
      }

      &:hover {
        &::before,
        &::after {
          background-color: #12c4e0;
        }
      }

      a {
        position: relative;
        color: #04184d;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          &::before {
            position: absolute;
            content: "";
            display: block;
            width: calc(100% + 17px);
            height: 2px;
            bottom: -45px;
            background-color: #12c4e0;
          }

          color: #12c4e0;
        }
      }

    }

  }
}