.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.content {
  flex: 1 1 auto;
}

.container,
.footer-container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}